.vscode/c_cpp_properties.json
Laba_1/for-test.jpg
Laba_1/.vscode/
Laba_1/build/
.vscode/c_cpp_properties.json
Laba_1/for-test.bmp
Laba_1/Laba_1.exe
Laba_1/main.exe
Laba_1/mask.bmp
Laba_1/build/CMakeCache.txt
Laba_1/build/Laba_1.exe
Laba_1/build/CMakeFiles/CMakeOutput.log
Laba_1/build/Testing/Temporary/LastTest.log
Laba_1/build/CMakeFiles/CMakeOutput.log
